.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sign-in{
  background-color: transparent;
  position: absolute;
  right: 20px;
  border: none;
  color: lightgray;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}

.sign-out{
  background-color: transparent;
  margin-left: 20px;
  border: none;
  color: lightgray;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}

.sign-in:hover, .sign-out:hover{
  color: red;
  font-weight: 600;
}

.logo_main{
  margin-left: -100px;
  margin-bottom: 30px;
}

.profile-pic-header {
  height: 10vh;
  width: auto;
  position: absolute;
  right: 20px;
}

/* Rate Text Animation */

.sp-content {
  position: absolute;
  left: 0px;
  top: 80vh;
  z-index: -1;
  margin: auto;
  left: 1%;
  right: 1%;
  position: absolute;
}
.sp-container h2 {
  position: absolute;
  top: 50%;
  line-height: 100px;
  height: 90px;
  margin-top: -50px;
  font-size: 50px;
  width: 100%;
  text-align: center;
  color: transparent;
  animation: blurFadeInOut 1.75s ease-in backwards infinite;
}
.sp-container h2.frame-1 {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -ms-animation-delay: 0s;
  animation-delay: 0s;
}

@keyframes blurFadeInOut {
  0% {
    opacity: 0;
    text-shadow: 0px 0px 40px #fff;
    transform: scale(.7);
  }
  20%, 75% {
    opacity: 1;
    text-shadow: 0px 0px 1px #fff;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    text-shadow: 0px 0px 50px #fff;
    transform: scale(0);
  }
}