/* image css https://codepen.io/jmldias/pen/efvGx */
#MenuTitle {
    color:white;
  }

.MenuButton {
    background: linear-gradient(to bottom right, black, black);
    border: 1;
    width: 200px;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    position: relative;
    z-index: 1;
    margin-bottom: 1.5%;
}
  
.MenuButton:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem red, .125rem .125rem 1rem red;
}
  
.MenuButton:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem red, .125rem .125rem 1rem red;
    color: lightcoral;
}

.btn_add{
  margin-top: 4vh;
  margin-bottom: 5px;
  text-decoration: none;
  color: whitesmoke;
  border: 1px solid lightgray;
  background-color: inherit;
}

.btn_add:hover{
  font-weight: 500;
  border: 1px solid red;
}

.suggested-option:hover .desc {
  visibility:visible;
}

/*
  RECOMMENDATION
*/

.suggested-option{
  margin: 2% 2% 2% 2%;
  padding:5px;
  box-sizing:border-box;
  background:linear-gradient(to bottom right, red, black);
  line-height:0px;
  height: 40vh;
  width: 21%;
  float: left;
  text-align: center;
  -webkit-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease; 
  -o-transition:all 0.5s ease; 
  transition:all 0.5s ease;
  border-radius:4px;
}	

.suggested-option:hover{
  line-height:30px;
  font-size:16px;
  height: 83vh;
}

.suggested-option-poster{
  width: 18.5vh;
  height: calc(18.5vh * 1.5);
  border-radius: 3%;
  margin-top: 2%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.suggested-title{
  text-align: center;
  width: auto;
  height: auto;
  padding: 7% 3% 0% 3%;
  color: white;
  font-weight: 700;
  line-height: 100%;
}

.suggested-desc{
  text-align: center;
  width: auto;
  height: auto;
  padding: 7% 3% 0% 3%;
  color: white;
  line-height: 100%;
}

.desc{
  text-align: center;
  font-weight: normal;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  padding-top: 20px;
  visibility:hidden;
  color: white;
  font-weight: 600;
}

@keyframes bgfade
{
0%   {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes bgfade
{
0%   {opacity:0;}
100% {opacity:1;}
}

.TopSuggested {
  margin: 5% 5% 5% 5%;
  position: relative;
}

.top-suggested-poster{
  width: 20%;
  height: auto;
  border-radius: 3%;
  margin-top: 2%;
  position: relative;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.top-suggested-filter{
  position:absolute;
  height:100%;
  width:100%;
  opacity:0.6;
  z-index: 0;
  top: 0;
  background-color:#510000;
}

.top-sugested-title{
  text-align: center;
  width: auto;
  height: auto;
  padding: 1.5% 1.5% 1.5% 1.5%;
  color: white;
  font-weight: 700;
  line-height: 100%;
  position: relative;
  z-index: 1;
  font-size: 20px;
  text-shadow: 2px 2px 4px black, 0 0 25px gray, 0 0 10px orange;
}

.top-sugested-summary{
  text-align: center;
  width: 30vw;
  height: auto;
  padding: 1.5% 1.5% 1.5% 1.5%;
  color: white;
  font-weight: 600;
  line-height: 100%;
  position: absolute;
  top: 12vh;
  right: 2vw;
  z-index: 2;
  font-size: 18px;
  text-shadow: 2px 2px 4px black, 0 0 25px gray, 0 0 10px rgb(10, 9, 8);
}

.top-sugested-genres{
  text-align: center;
  width: 30vw;
  height: auto;
  padding: 1.5% 1.5% 1.5% 1.5%;
  color: lightpink;
  font-weight: 600;
  line-height: 100%;
  position: absolute;
  top: 25vh;
  right: 2vw;
  z-index: 2;
  font-size: 18px;
  text-shadow: 2px 2px 4px black, 0 0 25px gray, 0 0 10px rgb(10, 9, 8);
}

.top-sugested-director{
  text-align: center;
  width: 30vw;
  height: auto;
  padding: 1.5% 1.5% 1.5% 1.5%;
  color: white;
  font-weight: 600;
  line-height: 100%;
  position: absolute;
  top: 35vh;
  right: 2vw;
  z-index: 2;
  font-size: 22px;
  text-shadow: 2px 2px 4px black, 0 0 25px gray, 0 0 10px rgb(10, 9, 8);
}

.top-sugested-stars{
  text-align: center;
  width: 30vw;
  height: auto;
  padding: 1.5% 1.5% 1.5% 1.5%;
  color: lightpink;
  font-weight: 600;
  line-height: 100%;
  position: absolute;
  top: 43vh;
  right: 2vw;
  z-index: 2;
  font-size: 18px;
  text-shadow: 2px 2px 4px black, 0 0 25px gray, 0 0 10px rgb(10, 9, 8);
}

/*
  RATE MOVIES
*/

.rate-image {
  height: 60vh;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  border: 1px solid #fff;
  background-size: cover;
  background-position: center;
  background-color: #fff;
}

.rate-image-shadow {
  position: absolute;
  height: 60vh;
  width: auto;
  min-width: 17vh;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.9) 0px 0px 20px;
  border: 1px solid #fff;
  background-size: cover;
  background-position: center;
  background-color: #fff;
  max-width: 1000px;
  margin: auto;
  left: 1%;
  right: 1%;
  position: absolute;
  z-index: -1;
}

.rate-background{
  background-image: linear-gradient(to right, red , lightgreen);
  height: 100vh;
  width: 100vw;
  top: 0px;
  position: absolute;
  z-index: -1;
  overflow: hidden;
}

.rate-title{
  color: white;
  text-shadow: 2px 2px 4px black, 0 0 25px gray, 0 0 10px darkred;
  font-weight: 700;
  margin-top: 10vh;
  font-size: 25px;
}

.dislikedAlert{
  position: absolute;
  top: 6.5vh;
  color: red;
  text-shadow: 1px 1px 35px black, 2px -3px 30px #353935;
  font-weight: 700;
  font-size: 7vh;
  margin-top: 10vh;
  writing-mode: vertical-rl;
  text-orientation: upright;
  width: auto;
  left: 0vw;
  z-index: -1;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: darkred;
}

.likedAlert{
  position: absolute;
  top: 12vh;
  color: lightgreen;
  text-shadow: 1px 1px 30px #353935;
  font-weight: 700;
  font-size: 8vh;
  margin-top: 10vh;
  writing-mode: vertical-rl;
  text-orientation: upright;
  width: auto;
  right: 0vw;
  z-index: -1;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #6bb36b;
}

.skippedAlert{
  position: absolute;
  color: #FFD582;
  text-shadow: 1px 1px 20px #9E5E38;
  font-weight: 700;
  font-size: 8vh;
  width: auto;
  bottom:0%;
  z-index: -1;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #9E5E38;
  left: 1%;
  right: 1%;
  letter-spacing: 1vw;
}

.rate-year{
  color: white;
  text-shadow: 0 0 10px yellow;
  font-weight: 500;
}

.swipe {
  max-width: 60vh;
  margin: auto;
  left: 1%;
  right: 1%;
  position: absolute;
}

.cardContainer {
  width: 90vw;
  max-width: 260px;
  height: 300px;
}

.cardContent {
  width: 100%;
  height: 100%;
}

.card h3 {
  position: absolute;
  bottom: 0;
  margin: 10px;
  color: #fff;
}

/*
  PLAYLISTS
*/

.wrapper{
  margin-top: 40px;
}
.wrapper #MenuTitle{
  color: gray;
  padding-top: 30px;
  padding-bottom: 20px;
  border-top: 1px solid gray;
}

.wrapper img { 
  box-shadow: 1px 1px 10px #999; 
  margin: 2px;
  height: 200px;
  width: 135;
  cursor: pointer;
  display:inline-block;
  *display:inline;
  *zoom:1;
  vertical-align:top;
  /* margin-bottom:50px; */
  margin: 0 15px 50px 15px ;
}



/*
  SEARCH
*/

.searchbox {
  width: 30%;
  margin-top: 30px;
  position: absolute;
  margin-left: 35%;
  align-items: center;
}
.searchBar {
  /* width: 290px; */
  width: 100%;
  height: 40px;
  font-size: 18px;
}
.searchBack {
  width: 100%;
  background-color: black;
}
.searchbox .searchEntry{
  width: 100%;
  padding: 10px 20px;
  border: solid whitesmoke 1px;
  border-top: none;
}

/*
  PROFILE
*/

.profile-preview{
  margin-top: 4vh;

  width: 24vh;
  height: 24vh;
  position: relative;
  overflow: hidden;
  border-radius: 50%;

  margin-left: auto;
  margin-right: auto;
  left: 1%;
  right: 1%;
  border: solid gold 5px;
}

.profile-preview img { 
  display: inline;
  margin: auto;
  height: 100%;
  width: auto;
  text-align: center;
}

.profile-info-wrapper{
  margin-top: 40px;
}

.profile-info-wrapper #MenuTitle{
  color: gray;
  padding-bottom: 20px;
}

.profile-info-wrapper label{
  margin-right: .5vw;
}

.profile-navbar{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: absolute;
  top: 17px;
  right: 111px;
  overflow: hidden;
}

.profile-navbar img { 
  display: inline;
  margin: auto;
  height: 100%;
  width: auto;
  text-align: center;
}

.name-navbar{
  height: 35px;
  border-radius: 50%;
  position: absolute;
  top: 22px;
  right: 160px;
  font-size: 15px;
  font-weight: 500;
  color: #DC3545;
}

/*
  EXTERNAL
*/

/*https://moderncss.dev/pure-css-custom-checkbox-style/*/
input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--form-background);
  margin: auto;

  font: inherit;
  color: white;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: #FF4742;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

/* https://getcssscan.com/css-buttons-examples */

.button-24 {
  background: #b1100a;
  border: 1px solid #b1100a;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 15px;
  font-weight: 700;
  border-radius: 10%;
  padding: 3px 14px;
  text-align: center;
  touch-action: manipulation;
  margin-left: 1vw;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button-24:active {
  opacity: .5;
}

.button-24:disabled,
.button-24:active {
  cursor: not-allowed !important;
  background: #292929;
  border: 1px solid #292929;
  color: #a0a0a0;
}

/* https://bbbootstrap.com/snippets/animated-checkmark-50934051 */

.check-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 10vh;
  top: 15vh;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards
}

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards
}

@keyframes stroke {
  100% {
      stroke-dashoffset: 0
  }
}

@keyframes scale {

  0%,
  100% {
      transform: none
  }

  50% {
      transform: scale3d(1.1, 1.1, 1)
  }
}

@keyframes fill {
  100% {
      box-shadow: inset 0px 0px 0px 30px #7ac142
  }
}

/* https://webdeasy.de/en/top-css-buttons-en/ */
.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  margin-bottom: 2vh;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}