/* image css https://codepen.io/jmldias/pen/efvGx */
#MenuTitle {
    color:white;
  }

.MenuButton {
    background: linear-gradient(to bottom right, black, black);
    border: 1;
    width: 200px;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    position: relative;
    z-index: 1;
    margin-bottom: 1.5%;
}
  
.MenuButton:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem red, .125rem .125rem 1rem red;
}
  
.MenuButton:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem red, .125rem .125rem 1rem red;
    color: lightcoral;
}

.btn_add{
  margin-top: 4vh;
  margin-bottom: 5px;
  text-decoration: none;
  color: whitesmoke;
  border: 1px solid lightgray;
  background-color: inherit;
}

.btn_add:hover{
  font-weight: 500;
  border: 1px solid red;
}

.suggested-option:hover .desc {
  visibility:visible;
}

.suggested-option{
  margin: 2% 2% 2% 2%;
  padding:5px;
  box-sizing:border-box;
  background:linear-gradient(to bottom right, red, black);
  line-height:0px;
  height: 40vh;
  width: 21%;
  float: left;
  text-align: center;
  -webkit-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease; 
  -o-transition:all 0.5s ease; 
  transition:all 0.5s ease;
  border-radius:4px;
}	

.suggested-option:hover{
  line-height:30px;
  font-size:16px;
  height: 83vh;
}

.suggested-option-poster{
  width: 18.5vh;
  height: calc(18.5vh * 1.5);
  border-radius: 3%;
  margin-top: 2%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.suggested-title{
  text-align: center;
  width: auto;
  height: auto;
  padding: 7% 3% 0% 3%;
  color: white;
  font-weight: 700;
  line-height: 100%;
}

.suggested-desc{
  text-align: center;
  width: auto;
  height: auto;
  padding: 7% 3% 0% 3%;
  color: white;
  line-height: 100%;
}

.desc{
  text-align: center;
  font-weight: normal;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  padding-top: 20px;
  visibility:hidden;
  color: white;
  font-weight: 600;
}

@keyframes bgfade
{
0%   {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes bgfade
{
0%   {opacity:0;}
100% {opacity:1;}
}

.TopSuggested {
  margin: 5% 5% 5% 5%;
  position: relative;
}

.top-suggested-poster{
  width: 20%;
  height: auto;
  border-radius: 3%;
  margin-top: 2%;
  position: relative;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.top-suggested-filter{
  position:absolute;
  height:100%;
  width:100%;
  opacity:0.6;
  z-index: 0;
  top: 0;
  background-color:#510000;
}

.top-sugested-title{
  text-align: center;
  width: auto;
  height: auto;
  padding: 1.5% 1.5% 1.5% 1.5%;
  color: white;
  font-weight: 700;
  line-height: 100%;
  position: relative;
  z-index: 1;
  font-size: 20px;
  text-shadow: 2px 2px 4px black, 0 0 25px gray, 0 0 10px orange;
}

.top-sugested-summary{
  text-align: center;
  width: 30vw;
  height: auto;
  padding: 1.5% 1.5% 1.5% 1.5%;
  color: white;
  font-weight: 600;
  line-height: 100%;
  position: absolute;
  top: 12vh;
  right: 2vw;
  z-index: 2;
  font-size: 18px;
  text-shadow: 2px 2px 4px black, 0 0 25px gray, 0 0 10px rgb(10, 9, 8);
}

.top-sugested-genres{
  text-align: center;
  width: 30vw;
  height: auto;
  padding: 1.5% 1.5% 1.5% 1.5%;
  color: lightpink;
  font-weight: 600;
  line-height: 100%;
  position: absolute;
  top: 25vh;
  right: 2vw;
  z-index: 2;
  font-size: 18px;
  text-shadow: 2px 2px 4px black, 0 0 25px gray, 0 0 10px rgb(10, 9, 8);
}

.top-sugested-director{
  text-align: center;
  width: 30vw;
  height: auto;
  padding: 1.5% 1.5% 1.5% 1.5%;
  color: white;
  font-weight: 600;
  line-height: 100%;
  position: absolute;
  top: 35vh;
  right: 2vw;
  z-index: 2;
  font-size: 22px;
  text-shadow: 2px 2px 4px black, 0 0 25px gray, 0 0 10px rgb(10, 9, 8);
}

.top-sugested-stars{
  text-align: center;
  width: 30vw;
  height: auto;
  padding: 1.5% 1.5% 1.5% 1.5%;
  color: lightpink;
  font-weight: 600;
  line-height: 100%;
  position: absolute;
  top: 43vh;
  right: 2vw;
  z-index: 2;
  font-size: 18px;
  text-shadow: 2px 2px 4px black, 0 0 25px gray, 0 0 10px rgb(10, 9, 8);
}

.wrapper{
  margin-top: 40px;
}
.wrapper #MenuTitle{
  color: gray;
  padding-top: 30px;
  padding-bottom: 20px;
  border-top: 1px solid gray;
}

.wrapper img { 
  box-shadow: 1px 1px 10px #999; 
  margin: 2px;
  height: 200px;
  width: 135px;
  cursor: pointer;
  display:inline-block;
  *display:inline;
  *zoom:1;
  vertical-align:top;
  /* margin-bottom:50px; */
  margin: 0 15px 50px 15px ;
}