body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000000;
  color: white;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

video {
  position: relative;
  z-index: -1;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}


img.rate-image {
  height: 50%;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.rate-background{
  background-image: linear-gradient(to right, red , lightgreen);
  height: 100vh;
  width: 100vw;
  top: 0px;
  position: absolute;
  z-index: -1;
}

.rate-title{
  color: white;
  text-shadow: 2px 2px 4px black, 0 0 25px gray, 0 0 10px darkred;
  font-weight: 700;
  margin-top: 10vh;
  font-size: 25px;
}

.rate-year{
  color: white;
  text-shadow: 0 0 10px yellow;
  font-weight: 500;
}